html, body {
    padding: 0;
    margin: 0;
   background-image: url("https://www.sbs.com.au/popasia/sites/sbs.com.au.popasia/files/btsmood.png");
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Roboto', serif;
   text-transform: uppercase;
}

#header {
    color: red;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-transform: uppercase;
}

.central{
    background-color:transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description{
    color: white;
    margin-bottom: 1em;
}

.personajes{
    width: 100%;
    text-align: center;
    padding: 0.5em;
}

.row button{
    background-color: transparent;
    border: 0px;
    height: 100px;
    width: 100px;
    margin: 1.5em;
    border-radius: 50px ;
    box-shadow: 5px 7px 10px 0px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.row button img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    
}



button:hover{
  height: 110px .5s;
  rotate: -5deg;
  box-shadow: 5px 10px 15px 0px rgba(255, 255, 255, 1);
}


footer {
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: white;
    text-transform: capitalize;
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#title{
    margin-left: 1em;
    width: 7rem;
}

#authors{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    width: 10rem;
}

